{% extends "layout.html" %}

{% block title %}Artikel{% endblock %}

{% block content %}

<div class='container'>
    <div class='card'>
        <div class='card-header'>
            <h1>Artikel Gruppen</h1>
        </div>
        <div class='card-body'>
            <p>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Beschreibung</th>
                        <th scope="col">Status</th>
                        <th scope="col">Farbe</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in itemGroups %}
                    <tr class="groupRow" id="{{group['id']}}">
                        <td class="id">{{group['id']}}</td>
                        <td class="name"><strong>{{group['name']}}</strong></td>
                        <td class="description"><strong>{{group['description']}}</strong></td>
                        <td class="state">
                            {% if group['state'] == 0 %}
                                Unklar
                            {% elif group['state'] == 1 %}
                                Aktiv
                            {% elif group['state'] == 2 %}
                                Inaktiv
                            {% else %}
                                UNBEKANNT ({{group['state']}})
                            {% endif %}
                        </td>
                        <td style="background-color: {{group['color']}};">{{group['color']}}</td>
                        <td class="buttons">
                            <button type="button" class="btn btn-warning" onClick="editGroup({{group['id']}})">Edit</button>
                            <button type="button" class="btn btn-danger" onClick="deleteGroup({{group['id']}})">Delete</button>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </p>
        </div>
    </div>
    <div class='card'>
        <div class='card-header'>
            <h1>Gruppe erstellen</h1>
        </div>
        <div class="card-body">
            <div class="buttonGrid">
                {% for n in range(2) %}
                    <div class="itemButton dark" >
                        <a><b>Test Artikel</b></a><br>
                        <a><small>Beschreibung</small></a><br>
                        <a>12.34 €</a>
                    </div>
                {% endfor %}
                {% for n in range(2) %}
                    <div class="itemButton light">
                        <a><b>Test Artikel</b></a><br>
                        <a><small>Beschreibung</small></a><br>
                        <a>12.34 €</a>
                    </div>
                {% endfor %}
            </div><br>
        </div>
        <div class='card-body'>
            <form action="{{ url_for('sales.addItemGroup') }}" method="POST">
                <div class="itemGroupForm">
                    <div class="control-group">
                        <a>Name*</a><br>
                        <input type="text" class="login-field" value="" required placeholder="Gruppenname" name="name">
                    </div>
                    <div class="control-group">
                        <a>Beschreibung</a><br>
                        <input type="text" class="login-field" value="" required placeholder="Gruppenbeschreibung" name="description">
                    </div>
                    <div class="control-group">
                        <a>Farbe</a><br>
                        <input type="color" id="itemGroupColor" name="color" value="#c9110e" />
                    </div>
                    <div class="control-group">
                        <a>Status*</a><br>
                        <select id="state" name="state">
                            <option value=0>Unklar</option>
                            <option value=1>Aktiv</option>
                            <option value=2>Inaktiv</option>
                        </select>
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary btn-large btn-block">
                </div>
            </form>
        </div>

        <div class='card-header'>
            <h1>Gruppe bearbeiten</h1>
        </div>
        <div class='card-body'>
            <form action="{{ url_for('sales.updateItemGroup') }}" method="POST">
                <div class="itemGroupForm">
                    <input type="hidden" id="updateGroupId" name="id" value="-1">
                    <div class="control-group">
                        <a>Name*</a><br>
                        <input type="text" id="updateGroupName" class="login-field" value="" required placeholder="Gruppenname" name="name">
                    </div>
                    <div class="control-group">
                        <a>Beschreibung</a><br>
                        <input type="text" id="updateGroupDescription" class="login-field" value="" required placeholder="Gruppenbeschreibung" name="description">
                    </div>
                    <div class="control-group">
                        <a>Farbe</a><br>
                        <input type="color" id="updateGroupColor" name="color" value="#c9110e" />
                    </div>
                    <div class="control-group">
                        <a>Status*</a><br>
                        <select id="updateGroupState" name="state">
                            <option value=0>Unklar</option>
                            <option value=1>Aktiv</option>
                            <option value=2>Inaktiv</option>
                        </select>
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary btn-large btn-block">
                </div>
            </form>
        </div>
    </div>

</div>
<div class='container'>
    <div class='card'>
        <div class='card-header'>
            <h1>Artikel</h1>
        </div>
        <div class='card-body'>
            <p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Beschreibung</th>
                        <th scope="col">Preis</th>
                        <th scope="col">Gruppe</th>
                        <th scope="col">Bearbeitet von</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr class="itemRow" id="{{item['id']}}">
                        <td class="id">{{item['id']}}</td>
                        <td class="name"><strong>{{item['name']}}</strong></td>
                        <td class="description"><strong>{{item['description']}}</strong></td>
                        <td class="price"><strong>{{'%0.2f'| format(item['price']|float)}} €</strong></td>
                        <td class="groupId"><strong>{{item['groupId']}}</strong></td>
                        <td class="changedBy"><strong>{{users[item['changedBy']|default(1, true)]['username']}}</strong></td>
                        <td class="state">
                            {% if item['state'] == 0 %}
                                Unklar
                            {% elif item['state'] == 1 %}
                                Aktiv
                            {% elif item['state'] == 2 %}
                                Inaktiv
                            {% else %}
                                UNBEKANNT ({{item['state']}})
                            {% endif %}
                        </td>
                        <td class="buttons">
                            <button type="button" class="btn btn-warning" onClick="editItem({{item['id']}})">Edit</button>
                            <button type="button" class="btn btn-danger" onClick="deleteItem({{item['id']}})">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </p>
        </div>
    </div>
    <div class='card'>
        <div class='card-header'>
            <h1>Artikel erstellen</h1>
        </div>
        <div class="card-body">
            <div class="buttonGrid">
                {% for n in range(2) %}
                    <div class="itemButton dark" >
                        <a><b class="testButtonName">Test Artikel</b></a><br>
                        <a><small class="testButtonDescription">Beschreibung</small></a><br>
                        <a class="testButtonPrice">12.34 €</a>
                    </div>
                {% endfor %}
                {% for n in range(2) %}
                    <div class="itemButton light">
                        <a><b class="testButtonName">Test Artikel</b></a><br>
                        <a><small class="testButtonDescription">Beschreibung</small></a><br>
                        <a class="testButtonPrice">12.34 €</a>
                    </div>
                {% endfor %}
            </div><br>
        </div>
        <div class='card-body'>
            <form action="{{ url_for('sales.addItem') }}" method="POST">
                <div class="itemForm">
                    <div class="control-group">
                        <a>Name*</a><br>
                        <input type="text" id="itemName"  class="login-field" value="" required placeholder="Artikelname" name="name">
                    </div>
                    <div class="control-group">
                        <a>Beschreibung</a><br>
                        <input type="text" id="itemDescription" class="login-field" value="" required placeholder="Artikelbeschreibung" name="description">
                    </div>
                    <div class="control-group">
                        <a>Preis</a><br>
                        <input type="number" id="itemPrice" name="price" value="0.00" step="0.01"/>
                    </div>
                    <div class="control-group">
                        <a>Gruppe</a><br>
                        <select id="itemGroup" name="groupId">
                            {% for group in itemGroups %}
                                <option value={{group['id']}} style="background-color: {{group['color']}};">{{group['name']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="control-group">
                        <a>Status*</a><br>
                        <select id="state" name="state">
                            <option value=0>Unklar</option>
                            <option value=1>Aktiv</option>
                            <option value=2>Inaktiv</option>
                        </select>
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary btn-large btn-block">
                </div>
            </form>
        </div>
        
    </div>

</div>

<style>
    .buttonGrid{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 100%;
    }
    .itemButton{
        border: 1px solid black;
        text-align: center;
        align-content: center;
        background-color: #c9110e;
    }
    .itemButton.light{
        color: black;
    }
    .itemButton.dark{
        color: white;
    }
</style>
<script>
    var groupsData = {};
    var itemsData = {};
    getGroups();
    getItems();
    
function getGroups(){
    fetch('{{ url_for("sales.getGroups") }}', {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }

    })
    .then((response) => response.json())
    .then((json) => {
        groupsData = json;
    });
}

function getItems(){
    fetch('{{ url_for("sales.getItems") }}', {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }

    })
    .then((response) => response.json())
    .then((json) => {
        itemsData = json;
    });
}

function editGroup(id){
    console.log("Edit Group: " + id);
    let groupData = groupsData[id];
    console.log(groupData);
    
    $("#updateGroupId").val(id);
    $("#updateGroupState").val(groupData["state"]);
    $("#updateGroupName").val(groupData["name"]);
    $("#updateGroupDescription").val(groupData["description"]);
    $("#updateGroupColor").val(groupData["color"]);
}

function deleteGroup(id){
    console.log("Delete Group: " + id);
    console.log(groupsData);
    console.log(groupsData[id]);
}

function editItem(id){
    console.log("Edit Item: " + id);
    console.log(itemsData);
    console.log(itemsData[id]);
}

function deleteItem(id){
    console.log("Delete Item: " + id);
    console.log(itemsData);
    console.log(itemsData[id]);
}


// Preview Items
$("input, select").change(function(){
    let p1 = $(this).parent().parent();

    if(p1.hasClass("itemForm")){
        let name =  $("#itemName").val();
        let description =  $("#itemDescription").val();
        let price =  $("#itemPrice").val();
        let group =  $("#itemGroup").val();

        $(".testButtonName").text(name);
        $(".testButtonDescription").text(description);
        $(".testButtonPrice").text(Number(price).toFixed(2) + " €");
        console.log(p1);
        console.log(this);
    }
    else if(p1.hasClass("itemGroupForm")){
        let color = $("#itemGroupColor").val();
        $(".itemButton").css("background-color", color);

        console.log("itemGroupForm");
        console.log(p1);
        console.log(this);
    }
});
</script>
{% endblock %}