a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

:root {
  --main-bg-color: hsl(0, 0%, 10%);
}

* {
  box-sizing: border-box;
}

body {
  /* overflow: hidden;  Hide scrollbars */
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}